* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}

main {
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

.left-nav {
  width: 30%;
  min-width: 200px;
  height: 100vh;
  margin: 0 20px;
  box-shadow: 2px 2px 5px #dfdede;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.logo {
  width: 80px;
  height: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.profile {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile-content {
  margin-left: 5px;
  width: 200px;
}
.profile-content h2 {
  font-size: 9px;
}

.profile-content p {
  font-size: 7px;
  margin-top: 5px;
  width: 80%;
  font-weight: bold;
}

.profile-content p:last-child {
  font-size: 7px;
  margin-top: 10px;
  width: 100%;
  font-weight: 300;
}
ul {
  width: 100%;
}
ul li {
  list-style-type: none;
  color: #504b4b;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 50px;
}

ul li span {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bolder;
}
ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #504b4b;
}
ul li:hover,
ul li:visited {
  background-color: #c3e9cada;
  color: #109426da;
  border-left: 5px solid #dadd22;
}

ul li a:hover {
  color: #109426da;
}

.right-box {
  width: 100%;
}

.right-box .top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.search {
  display: flex;
}
.search input {
  height: 40px;
  border: none;
  padding-left: 20px;
  border-radius: 20px;
}
.top-right .icon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-right .icon-header > p {
  margin: 0 20px;
}
.profile-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.profile-header > p {
  font-size: 11px;
  margin-left: 10px;
}

.profile-header p:last-child {
  font-size: 30px;
  margin-top: 20px;
}
.profile-header img {
  width: 30px;
  height: 30px;
  border: 1px solid #dadd22;
  border-radius: 50%;
}

.class h2 {
  margin-bottom: 30px;
  font-size: 16px;
}
.filter {
  display: flex;
flex-wrap:wrap;
}
.grade select,
.search-input input {
  margin: 10px;
  background-color: #e7e7e7;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 7px;
  width: 200px;
  padding: 0 10px;
}
.class-details {
  display: flex;
flex-wrap:wrap;
}
.class-card {
  width: 150px;
  height: 170px;
  background-color: #ffffff;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px #8a8a8a;
  border-radius: 5px;
}

.class-card:hover {
  border: 2px solid #109426da;
}

.class-card span {
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

.class-card .content-class {
  margin-top: 60px;
  margin-left: 10px;
}
.class-card h3 {
  color: #109426da;
  font-size: 14px;
}

.class-card p {
  font-size: 12px;
  margin-top: 5px;
}
